.backdrop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    overflow-y: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    opacity: 1;
}

.backdrop.disabled {
    opacity: 0;
    display: none;
}

.modalPassword {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 50vh;
    left: calc(50% - 25vw);
    top: calc(50% - 25vh);
    background-color: #F2E8CF;
    padding: 40px 150px 0px 150px;
    border-radius: 10px;
    z-index: 10;
    opacity: 1;
}

.modalPassword.disabled {
    display: none;
    opacity: 0;
}

.modalPassword .labelBox {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding-top: 10px;
}
.modalPassword .labelBox .changeEyes {
    position: absolute;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../image/eye-solid.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    left: calc(100% - 30px);
    top: 41.5px;
    color: #F2E8CF;
}
.modalPassword .labelBox .changeEyes.hidden {
    background-image: url('../image/eye-slash-solid.svg');
}
.modalPassword .labelBox input {
    position: relative;
    width: 100%;
    font-size: 14px;
    border-radius: 15px;
    border: 1px solid #B2B5AC;
    background-color: #F2E8CF;
    padding: 8px 12px;
    outline: none;
}
.modalPassword .labelBox input:focus {
    border: 1px solid #A7C957;
}
.modalPassword .labelBox input::placeholder {
    color: #B2B5AC;
}

.modalPassword .checkBox {
    margin-top: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 10px;
    color: #F2E8CF;
    padding: 15px 30px;
    background-color: #6A994E;
}
.modalPassword .checkBox .checkMsg {
    display: flex;
    align-items: center;
    list-style: none;
    padding-top: 10px;
    font-weight: 700;
}

.modalPassword .checkBox .checkMsg::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../image/circle-dot-solid.svg');
    background-repeat: no-repeat;
    margin-right: 10px;
    color: #F2E8CF;
}

.modalPassword .checkBox .checkMsg.valid::before {
    background-image: url('../image/check-solid.svg');
}

.modalPassword .checkBox .checkMsg:first-child {
    padding-top: 0px;
}

.buttonBox {
    padding-top: 10px;
    align-self: end;
}

.buttonBox .btn {
    padding: 7px 10px;
    font-size: 16px;
    background-color: #BC4749;
    color: #fff;
    font-weight: 700;
    border-radius: 20px;
    border: none;
}
.buttonBox .btn:disabled {
    background-color: #BC9595;
}
.buttonBox .btn.unactive {
    padding: 7px 15px;
    background-color: transparent;
    color: #BC4749;
    border: none;
}